{% extends "main/yom.html" %}
{% block task %}
{% load static %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/cSFftNIFfp8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div dir="rtl" text-align="right">
<h3>בסרטון שראיתם יש את מה שאתם צריכים על מנת להשלים את המקומות הריקים השלימו את הפסוקים ותקבלו את הרמז לפתרון הסופי</h3>
<p>ויקרא, כ"ה, פסוק 18, מילה 2, אות 1 = </p>
<p>יחזקאל, מ', פסוק __, מילה 1, אות 5 =</p>
<p>יהושע, י"ט, פסוק 22, מילה __, אות 1 = </p>
    <p>בראשית, כ"ט, פסוק __, מילה 1, אות 3 =</p>
<p>שמואל א, א', פסוק __, מילה 12, אות __ = </p>
<p>מלכים א, ג', פסוק __, מילה 2, אות 3 = </p>
<p></p>
<p>המשימה שלכם היא לצלם את עצמכם מצדיעים לכוחות העירוניים</p>
<p></p>
{% include "main/checkAnswer.html" %}

</div>
{% endblock %}