{% extends 'main/yom.html' %}

{% block signup %}
  <h2>תשובתכם לצופן התקבלה באתר🥳</h2>
  <p>
מקוים שרכשתם ידע חדש והתחברתם לשורשיה של העיר שלנו!
וכמובן מקוים שנהנתם מהחוויה המיוחדת, ומהגיבוש המשפחתי❤️

השיר עמק שלי הוא שיר שכתב יצחק קינן לבית שאן, לב העמק שאותה כל כך אהב.

לקראת הערב נכריז על משפחה מנצחת✨

תודה על שיתוף הפעולה!
בברכה, ראש העיר מר גקי לוי בשיתוף מרכז המתנדבים המתנדבים בית שאן וחוגי סיירות של קק"ל</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">הרשמו להגרלה</button>
  </form>
{% endblock %}