{% extends "main/yom.html" %}
{% block task %}
<div dir="rtl" text-align="right">
    <h2>האזינו
    <a href="https://www.youtube.com/watch?v=vjz80gEjqDs&list=RDOHxXw7MmQm4&index=2" target="_blank">לשיר</a>
    ומילאו את החסר
    </h2>
    <p>
"ים השיבולים __מסביב, ע__ גליו לשוט יצא הרוח, אלף חי__כים אלי שלח האביב,
שמ__ חביבה יצאה לשוח, על המ__תרים המפיקים צלילי זהב, הם מזמרים אל מול התכלת,
אלף מלאכים השרי__ שלום לסתיו, נושקים ומלטפים פצעי שלכת.."
</p>
    {% include "main/checkAnswer.html" %}
</div>
{% endblock %}
