{% extends "main/yom.html" %}
{% block task %}
{% load static %}
<div dir="rtl" text-align="right">
<!--    <img src="{% static 'images/logo.png' %}" id="logo">-->
    <img src="{% static 'images/semel.jpg' %}">
    <p>משימה סמל בית שאן
לכבוד יום העצמאות ה-72, עיצבו אנשי העיר סמל חדש לעיר.</p>
    <p>עץ התמר – עץ אופייני לעמק בית שאן שנחשב לחשוב ביותר בעמק ולו שימושים רבים.<img src="{% static 'images/ex.png' %}"></p>
    <p>הגבעות – מסמלות את ההרים והגבעות המקיפים את העמק.<img src="{% static 'images/gvaot.png' %}"></p>
    <p>הציפור – מסמלת את הטבע העשיר בעמק ואת נדידת הציפורים המיוחדת<img src="{% static 'images/zipor.jpg' %}"></p>
    <p>קווי המים – מסמלים את שפע המים בעמק בית שאן.<img src="{% static 'images/mayim.png' %}"></p>
    <p>המנורה והשופר - מייצגים את הקשר ההיסטורי היהודי רב השנים לעיר בית שאן.<img src="{% static 'images/menora.png' %}"></p>
    <p>התיאטרון – מסמל את ההיסטוריה העשירה של העיר ומבטא את השאיפה להפוך את בית שאן לעיר תיירות.<img src="{% static 'images/amfi.png' %}"></p>
    <p>הילד – מסמל את הנוער בבית שאן ואת השאיפה להפוך את הדור הצעיר למשפיע<img src="{% static 'images/yeled.jpg' %}"></p>
    <p>הכתובת הקדומה - ברכת משה לשבט יוסף שבנו מנשה זכה לקבל את בית שאן בנחלתו.<img src="{% static 'images/ctovet1.png' %}"></p>
    <p>הטרקטור – מסמל את החקלאות בעמק ובעיר<img src="{% static 'images/tractor.jpg' %}"></p>
    <p>הכתובת "זו בית שאן"  -  רמיזה לשפע המים של עמק בית שאן. ברכה זו של יעקב בסוף ספר בראשית.<img src="{% static 'images/zu.png' %}"></p>
    <p>המשימה שלכם היא לצייר ולשלוח את הסמל שלכם לעיר – בהצלחה!</p>
    <p>מצליחים לזהות את השונה מהסמל המקורי?</p>

</div>
{% endblock %}
