{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'letterInput.js' %}"></script>
    <script src="{% static 'moveImage.js' %}"></script>
    <script src="{% static 'answer.js' %}"></script>
    <link href="{% static 'yom.css' %}" rel="stylesheet">
    <link href="{% static 'letterInput.css' %}" rel="stylesheet">
    <!--    https://bootsnipp.com/snippets/nNX3a-->
    <!------ Include the above in your HEAD tag ---------->
    <script>

    </script>
    <title>משחק יום העצמאות בית שאן</title>
</head>
<body dir="rtl">

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/horaot">הוראות</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fa fa-home"></i>
          דף הבית
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hapoelBeitShean">
          <i class="fa fa-envelope-o">
          </i>
          הפועל בית שאן
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gvura">
          <i class="fa fa-envelope-o">
          </i>
          גבורה
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/semel">
          <i class="fa fa-envelope-o">
<!--            <span class="badge badge-danger">11</span>-->
          </i>
          סמל העיר
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nofey">
          <i class="fa fa-envelope-o">
<!--            <span class="badge badge-danger">11</span>-->
          </i>
          נופי הארץ
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tarbut1">
          <i class="fa fa-envelope-o">
<!--            <span class="badge badge-danger">11</span>-->
          </i>
          תרבות
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shichrur1">
          <i class="fa fa-envelope-o">
<!--            <span class="badge badge-danger">11</span>-->
          </i>
          שחרור בית שאן
        </a>
      </li>




      <li class="nav-item">
        <a class="nav-link" href="/pitaron">
          <i class="fa fa-envelope-o">
<!--            <span class="badge badge-danger">11</span>-->
          </i>
          הגשת פתרון
        </a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">-->
<!--          <i class="fa fa-envelope-o">-->
<!--            <span class="badge badge-warning">11</span>-->
<!--          </i>-->
<!--          Disabled-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          <i class="fa fa-envelope-o">-->
<!--            <span class="badge badge-primary">11</span>-->
<!--          </i>-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
<!--    <ul class="navbar-nav ">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          <i class="fa fa-bell">-->
<!--            <span class="badge badge-info">11</span>-->
<!--          </i>-->
<!--          Test-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          <i class="fa fa-globe">-->
<!--            <span class="badge badge-success">11</span>-->
<!--          </i>-->
<!--          Test-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>

<div class="container text-right" dir="rtl">
    {% block task %}{% endblock %}
    {% block signup %}{% endblock %}
</div>

<script>
    //$(document).ready(function() {
    //var co = '';
    //$("img").on("click", function(event) {
    //    var x = event.pageX - this.offsetLeft;
    //    var y = event.pageY - this.offsetTop;
    //    co = co +x+','+y+',';
    //    alert("X Coordinate: " + x + " Y Coordinate: " + y+'co: '+co);
    //    });
    //});
    $("#tarbut").on("click", function(e){
        e.preventDefault();
        alert('צריך להתחיל בצופן א"ת ב"ש');
    });
    $("#shichrur").on("click", function(e){
        e.preventDefault();
        alert('צריך להתחיל במידע העיר');
    });
</script>
</body>
</html>